{% extends "polls/base.html" %}
{% load static %}

{% block head %}
<a class="navbar-brand" href="/">利用規約</a>
{% endblock %}

{% block main %}
<h1>利用規約</h1>
<div class="" style="border: 3px solid;">
  <p>
    利用規約<br>

    第1条 （本規約の目的および適用範囲）<br>

    第2条<br>

    第3条 （本サービスの提供）<br>
    １. 当社は、ユーザーに対し、本規約に定めるところに従い、本サービスを提供する。<br>

    第4条（ソフトウェアの使用について）<br>
    1.ユーザーは、第三者に当ソフトウェアを勝手に共有してはならない。<br>
    2.当ソフトウェアが第三者に不正に利用されたことにより当社に損害が生じた場合には、当社はユーザーに対し、その損害の賠償を請求することができるものとする<br>


    第5条（ソフトウェアの使用に関して）<br>
    1.当ソフトウェアは利益を保証するものでは無い。<br>
    2.当ソフトウェアを使用しての取引において生じた損失に関しては弊社は一切の責任は負わないものとする。<br>

    第6条（）<br>
    1.ユーザーは弊社がソフトウェアの販売元であり取引の指示や取引自体を行っていないことを承知した上で当ソフトウェアを使用する。<br>
    2.ユーザーは弊社がソフトウェアのメンテナンスのみを行い、取引や使用におけるアドバイスはしないことを承知した上で当ソフトウェアを使用する<br>


    第7条（）<br>
    1.当商品はネットでの販売のみのため、特定商取引法48条には該当としない商品である。<br>
    2.当商品は電子データという商品の特性上、理由の如何を問わず返金や返品はできないものとする。<br>
    3.ユーザーは上記を理解した上で当ソフトウェアを購入、使用しなければならない。<br>

  </p>
</div>

{{form}}

<button onclick="location.href={% url 'polls:welcome' %}" class="btn btn-info">次へ</button>

{% endblock %}